@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Base styles */
body {
  background-color: rgb(249 250 251); /* gray-50 */
  color: rgb(20 22 37);               /* gray-900 */
}

.dark body {
  background-color: rgb(20 22 37);      /* gray-950 */
  color: rgb(243 244 246);            /* gray-100 */
}

/* Smooth transitions */
* {
  transition: background-color 0.2s ease, 
  color 0.2s ease, 
  border-color 0.2s ease;
}